name: Release dot_ios_sdk_spm

on:
  repository_dispatch:
    types: dot_ios_sdk_spm_release
jobs:
  release:
    name: Release dot_ios_sdk_spm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update sam version
        if: github.event.client_payload.sam_version != ''
        run: |
          CHECKSUM=$(.scripts/compute_checksum.sh --component_url=https://s3.eu-central-1.amazonaws.com/ios-frameworks.innovatrics.com/sam/$SAM_VERSION/Sam.zip)
          sed -i "s/\(https:\/\/s3.eu-central-1.amazonaws.com\/ios-frameworks.innovatrics.com\/sam\/\)\([0-9\.]*\)\(\/.*checksum: \"\)\(.*\)\(\"\)/\1$SAM_VERSION\3$CHECKSUM\5/g" .template/Package_template.swift
        env:
          SAM_VERSION: "${{github.event.client_payload.sam_version}}"
          
      - name: Update sam face version
        if: github.event.client_payload.sam_face_version != ''
        run: |
          CHECKSUM=$(.scripts/compute_checksum.sh --component_url=https://s3.eu-central-1.amazonaws.com/ios-frameworks.innovatrics.com/sam-face/$SAM_FACE_VERSION/SamFace.zip)
          sed -i "s/\(https:\/\/s3.eu-central-1.amazonaws.com\/ios-frameworks.innovatrics.com\/sam-face\/\)\([0-9\.]*\)\(\/.*checksum: \"\)\(.*\)\(\"\)/\1$SAM_FACE_VERSION\3$CHECKSUM\5/g" .template/Package_template.swift
        env:
          SAM_FACE_VERSION: "${{github.event.client_payload.sam_face_version}}"
          
      - name: Update iface and onnx version
        if: github.event.client_payload.iface_version != '' && github.event.client_payload.onnx_version != ''
        run: |
          CHECKSUM=$(.scripts/compute_checksum.sh --component_url=https://s3.eu-central-1.amazonaws.com/ios-frameworks.innovatrics.com/iface/$IFACE_VERSION/IFace.zip)
          sed -i "s/\(https:\/\/s3.eu-central-1.amazonaws.com\/ios-frameworks.innovatrics.com\/iface\/\)\([0-9\.]*\)\(\/.*checksum: \"\)\(.*\)\(\"\)/\1$IFACE_VERSION\3$CHECKSUM\5/g" .template/Package_template.swift
          
          CHECKSUM=$(.scripts/compute_checksum.sh --component_url=https://s3.eu-central-1.amazonaws.com/ios-frameworks.innovatrics.com/onnx/$ONNX_VERSION/Onnx.zip)
          sed -i "s/\(https:\/\/s3.eu-central-1.amazonaws.com\/ios-frameworks.innovatrics.com\/onnx\/\)\([0-9\.]*\)\(\/.*checksum: \"\)\(.*\)\(\"\)/\1$ONNX_VERSION\3$CHECKSUM\5/g" .template/Package_template.swift
        env:
          IFACE_VERSION: "${{github.event.client_payload.iface_version}}"
          ONNX_VERSION: "${{github.event.client_payload.onnx_version}}"
          
      - name: Update openssl version
        if: github.event.client_payload.openssl_version != ''
        run: |
          CHECKSUM=$(.scripts/compute_checksum.sh --component_url=https://s3.eu-central-1.amazonaws.com/ios-frameworks.innovatrics.com/dot-openssl/$OPENSSL_VERSION/OpenSSL.zip)
          sed -i "s/\(https:\/\/s3.eu-central-1.amazonaws.com\/ios-frameworks.innovatrics.com\/dot-openssl\/\)\([0-9\.]*\)\(\/.*checksum: \"\)\(.*\)\(\"\)/\1$OPENSSL_VERSION\3$CHECKSUM\5/g" .template/Package_template.swift
        env:
          OPENSSL_VERSION: "${{github.event.client_payload.openssl_version}}"

      - name: Update protobuf version
        if: github.event.client_payload.protobuf_version != ''
        run: |
          CHECKSUM=$(.scripts/compute_checksum.sh --component_url=https://s3.eu-central-1.amazonaws.com/ios-frameworks.innovatrics.com/dot-protobuf/$PROTOBUF_VERSION/DotProtocolBuffers.zip)
          sed -i "s/\(https:\/\/s3.eu-central-1.amazonaws.com\/ios-frameworks.innovatrics.com\/dot-protobuf\/\)\([0-9\.]*\)\(\/.*checksum: \"\)\(.*\)\(\"\)/\1$PROTOBUF_VERSION\3$CHECKSUM\5/g" .template/Package_template.swift
        env:
          PROTOBUF_VERSION: "${{github.event.client_payload.protobuf_version}}"
          
      - name: Release dot-ios-sdk-spm
        run: |
          .scripts/prepare_swift_package.sh --release_version=$RELEASE_VERSION
        env: 
          RELEASE_VERSION: "${{github.event.client_payload.release_version}}"
          
      - name: Push changes
        run: |
          git config --global user.name 'Theredsunrise'
          git config --global user.email 'theredsunrise@gmail.com'
          git add *
          git commit -m "[dot_ios_sdk_spm_release workflow] release DOT iOS SDK Swift Package Manager $RELEASE_VERSION"
          git tag -a $RELEASE_VERSION -m "$RELEASE_VERSION"
          git push --follow-tags
        env:
          RELEASE_VERSION: "${{github.event.client_payload.release_version}}"
